<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-body bodyModal" color="black">
      <p>{{item.name}}</p>

      <div class="form-group">

        <input type="text" class="form-control" formControlName="cif" placeholder="C.I.F">

      </div>
      <div class="form-group">

        <input type="password" class="form-control" formControlName="password" placeholder="Password">

        <div>
          <p>C.I.F y/o contraseña inválida</p>
        </div>

        <button type="submit" class="btn btn-block btnSubmit">Iniciar</button>

      </div>

    </div>
