<div class="wrapper">
  <div class="circule sandwinch">

  </div>
  <div class="circule cart">
    <fa-icon *ngIf="this.tickets?.length !==0" [icon]="faShoppingCart"></fa-icon>
    <p *ngIf="this.tickets?.length ===0" data-toggle="modal" data-target="#exampleModalTickets" class="order">Iniciar
      Pedido</p>
  </div>
  <div class="circule burger">

  </div>
  <div class="circule postre">

  </div>

  <div class="circule ensaladas">

  </div>
</div>
<div class="modal fade" id="exampleModalTickets" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <app-modal-tickets [tickets]='tickets' [id]='id'></app-modal-tickets>
</div>
