<div class="modal-dialog">
  <div class="modal-content">
    <form [formGroup]="form" class="formTicket" (ngSubmit)="howManyTickets()">
      <div class='wrapper' *ngIf="!this.quantityTicket">
        <p>¿Cuantas CUENTAS necesitas para la mesa?</p>
        <input formControlName='numberTickets' type="number"><br>
        <button class="btn btn-primary" type="submit">Continuar</button>
      </div>
      <div class="wrapper" *ngIf="this.quantityTicket">
        <div *ngFor="let item of quantityTicket;let i=index">
          <label for="">Escribe tu nombre</label>
          <input [formControlName]='"input"+i' type="text">
        </div>
        <button class="btn btn-primary" (click)="sendQuantityandChangeStatus()">Enviar</button>
      </div>
    </form>
  </div>
</div>
