<div class="container">
  <h2 class="text-center">¿Como funciona?</h2>
  <ul>
    <li>Pues si estas leyendo esto significa que has leido el codigo QR de tu mesa, ahora solo te queda mejor parte
      mirar la carta y elegir lo que quieres tomar de lo demas nos encargamos nosotros...
    </li>
    <li>
      Mientras miras la carta puedes ir pidiendo que te den acesso para poder pedir lo que quieras desde tu movil sin
      tener que moverte de la mesa ni tener que llamar al camarero, asi ayudamos a mantener las distancia social y
      conseguimos reducir el tiempo de espera.
    </li>
    <li>
      Si ya tienes autorizacion para pedir, solo te queda elegir tus platos o bebidas y enviar tu pedido, tambien
      tendras la posibilidad de conocer el precio de tu pedido en todo momento sin tener que echar cuentas ni llamar
      camarero.
    </li>
    <li>
      Wohh!!! Me ha faltado una bebida por pedir.<br>
      No hay problema puedes pedirla y se te incluira en tu pedido.
    </li>
    <li>Tambien podemos ofrecero las cuentas que necesitais por mesa, lo unico que tenderis que hacer es generar un
      pedido primero despues los siguientes pedidos</li>
    <li>¿Y que pasa si necesito la ayuda del camarero ?<br>
      Pues te dejamos un boton para notificar que necesitas ayuda del camarero, el acudira lo mas rapido posible y te
      atendera sin problemas.</li>
    <li>Y la ultima maravilla que tenemos preparado para ti sera que en cualquier momento podras pedir tu cuenta sin
      tener que avisar al camarero, con esto intentamos volver a reducir tiempo de esperas.</li>
  </ul>

</div>
