<div class="container">
  <div *ngIf="listMenu?.plates.length !== 0" class="plates">
    <h2 class="my-3">Platos</h2>
    <div class="plate" *ngFor="let item of listMenu?.plates">
      <h5 class="my-3">{{item.name}}</h5>
      <div class="">
        <div class="col-8 m-auto">
          <img [src]="item.img" [title]="item.name">
        </div>
        <div [id]="item.id" class="col-12 my-3">
          <p>{{item.description}}</p>
          <div class="row">
            <p class="col-6">Precio: {{item.price}}€</p>
            <fa-icon *ngIf="this.tickets?.length !==0" [icon]="faShoppingCart" (click)="onSubmit(item)"
              class="col-6 text-right" data-toggle="modal" data-target="#exampleModal">
            </fa-icon>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="listMenu?.drinks.length !== 0">
    <h2>Bebidas</h2>
    <div class="drink" *ngFor="let item of listMenu?.drinks">
      <h5 class="my-3">{{item.name}}</h5>
      <div class="">
        <div class="col-8 m-auto">
          <img [src]="item.img" [title]="item.name">
        </div>
        <div [id]="item.id" class="col-12 my-3">
          <p>{{item.description}}</p>
          <div class="row">
            <p class="col-6">Precio: {{item.price}}€</p>
            <fa-icon *ngIf="this.tickets?.length !==0" [icon]="faShoppingCart" (click)="onSubmit(item)"
              class="col-6 text-right" data-toggle="modal" data-target="#exampleModal">
            </fa-icon>
          </div>
        </div>

      </div>

    </div>
  </div>
  <button class="btn" (click)="sendOrder()">Enviar pedido</button>

  <div class="modal modalTice fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <app-modal-product [token]='token' [table]='id'></app-modal-product>
  </div>
