/* You can add global styles to this file, and also import other style files */
* {
  font-family: bodedo;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: tiza;
  color: gold;
}


@font-face {
  font-family: 'Tiza';
  src: url('./assets/type/tiza.ttf');
}

@font-face {
  font-family: 'bodedo';
  src: url('./assets/type/HVD_Bodedo.ttf');
}
