.bodyModal {
  background-color: rgb(255, 184, 5);
  text-align: center;
}

.select {
  margin: 0 auto;
}

.close {
  padding: 0px;
  margin: 0px;
  color: black;
}

h2 {
  color: black;
}

.modal-content {
  background-color: rgb(10, 9, 9);
}

img {
  width: 100%;
}

label {
  color: black;
}

.btnSubmit {
  background-color: rgb(10, 9, 9);
  color: rgb(255, 184, 5);
  margin-top: 25px;
}

.btnSubmit:hover {
  color: rgb(10, 9, 9);
  background-color: rgb(255, 184, 5);
  border: 1px solidrgb(10, 9, 9);
}
